body {
  background: #0E1414;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.condensed-text {
  font-family: 'Open Sans Condensed', sans-serif;
}

.semi-condensed-text {
  font-family: 'Open Sans SemiCondensed', sans-serif;
}